services:
  los-rezagados-proxy:
    image: nginx:alpine
    container_name: los-rezagados-proxy
    restart: always
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./proxy/conf:/etc/nginx/conf.d
    depends_on:
      - adminer
      - moodle
    networks:
      - g10-network
      - proyecto

  mariadb:
    image: mariadb:11.8
    container_name: g10-mariadb
    restart: always
    command: [
      "--character-set-server=utf8mb4",
      "--collation-server=utf8mb4_unicode_ci",
      "--skip-character-set-client-handshake",
      "--transaction-isolation=READ-COMMITTED"
    ]
    environment:
        MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - ./mariadb/data:/var/lib/mysql
      - ./mariadb/init:/docker-entrypoint-initdb.d
    networks:
      - g10-network

  adminer:
    image: adminer
    container_name: g10-adminer
    restart: always
    depends_on:
      - mariadb
    networks:
      - g10-network

  moodle:
    image: bitnamilegacy/moodle:4.5.1-debian-12-r0
    container_name: los-rezagados-moodle
    networks:
      - g10-network
      
    
    volumes:
      - ./bitnami/moodle:/bitnami/moodle
      - ./bitnami/moodledata:/bitnami/moodledata
    environment:
      - MOODLE_DATABASE_HOST=mariadb
      - MOODLE_DATABASE_PORT_NUMBER=3306
      - MOODLE_DATABASE_NAME=moodle_db
      - MOODLE_DATABASE_USER=moodle_user
      - MOODLE_DATABASE_PASSWORD=moodle_password
      - MOODLE_USERNAME=admin
      - MOODLE_PASSWORD=admin_password
      - ALLOW_EMPTY_PASSWORD=no
      - MOODLE_REVERSEPROXY=yes
      - BITNAMI_DEBUG=true

    depends_on:
      - mariadb
      

networks:
  g10-network:
    driver: bridge
    name: g10-network
    
  proyecto:
    driver: bridge
    name: proyecto
